
<blog-navbar>
    
    <div slot="navbar__items">
        <div class="navbar__btns">
            <a [routerLink] = "['login']" class="nav__item"><blog-navbar-btn text="LogIn" (click)="scrollUp()"></blog-navbar-btn> </a>
            <a [routerLink] = "['home']" class="nav__item"><blog-navbar-btn text="Home" (click)="scrollUp()"></blog-navbar-btn> </a>
            <a [routerLink] = "['backOffice']" class="nav__item"><blog-navbar-btn text="Back Office" (click)="scrollUp()"></blog-navbar-btn> </a>
        </div>
    </div> 

</blog-navbar>

