%fadeIn {
    opacity: 1;
    animation: fade 0.75s ease-in;
  }
  
  @keyframes fade {
  
    0%,
    50% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  
  %fadeInFast {
    animation: fadeFast 0.5s ease-in forwards;
  }
  
  @keyframes fadeFast {
  
    0%,
    50% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  
  %fadeInSlow {
  
    animation: fadeSlow 1s ease-in;
  }
  
  @keyframes fadeSlow {
  
    0%,
    50% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  
  %opacityIn {
  
    animation: opacityIn 1s ease-in;
  }
  
  @keyframes opacityIn {
  
    0% {
      opacity: 0;
  
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
  
    }
  }
  
  %fadeOut {
  
    animation: fadeOut 1s ease-in forwards;
  }
  
  @keyframes fadeOut {
  
    0% {
      opacity: 1;
  
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0;
      display: none;
  
    }
  }