:root {
    --blue: rgb(29, 161, 242);
    --blue-sea: #167db7;
    --red: #d82626;
    --green: #00a550;
  
    --black: #333333;
    --grey-60: #737373;
    --grey-40: rgba(148, 145, 145, 0.85);
    --grey-20: #9e9c9c;
    --white: #fff;
  }