<div class="card__comments box-shadow">
    <form [formGroup]="editComment">
        <p-fieldset legend="{{commentDetails?.commentAuthorNickName}}">
            
            <input id="commentContent" type="text" placeholder="Escribe tu comentario..." 
            [ngStyle]="{'width':'100%', 'margin':'10px 0'}" pInputText formControlName="commentContent">
            
            <div><p>{{error}}</p></div>
            
            <button pButton type="button" [ngStyle]="{'margin':'10px'}" label="Save" class="ui-button-raised ui-button-success" (click)="saveComment(editComment.value)"></button> 
            <button pButton type="button" label="Reset" class="ui-button-raised ui-button-warning" (click)="resetComment()"></button>
        </p-fieldset>
    </form>
</div>



