

<div>
    <blog-post-detail 
        heading= "{{post?.postTittle | slice:0:42}}" 
        content="{{post?.postContent}}"
        footer= "{{post?.postAuthorName }}, {{post?.postDate | date: 'd/MMM/yyyy, h:mm a'}}">
    </blog-post-detail>

    <div *ngFor="let comment of post?.postComments">

        <blog-post-comment author= "{{comment?.commentAuthorNickName}}" 
        content="{{comment?.commentContent}}"></blog-post-comment>

    </div>
    <blog-button class ="button fadeIn" (click)="backHome()" text="Back Home"></blog-button>
</div>

