.button {
    --radh-button-background-color: rgb(35, 47, 62);
    --radh-button-color: white;
}

.signUpLogin{
  position: absolute;
}

.passwordForgotten{
  padding-left: 15px ;
}

.angularIco{
  position: relative;
  top: 10px;
  right: 22px;
}

.form-label{
  padding-top: 20px;
  font-size: 20px;
}

.form-control, select{
  border: 1px slolid  rgb(35, 47, 62);
  outline: none;
  height: 30px;
  padding: 0 15px;
  margin: 5px 0;
}