<div class="form">
    
        <div *ngIf="sign">
            <form [formGroup]="signInLogin" autocomplete="off" slot="form" class="form">
     
                <label for="username" class="form-label"
                [class.invalid]="signInLogin.get('username').touched && signInLogin.get('username').invalid"
                [class.valid]="signInLogin.get('username').touched && signInLogin.get('username').valid">Username:</label>

                
                <div class="flex">            
                    <input id="username" type="text" formControlName="username"  class="form-control"
                    [class.in-invalid]="signInLogin.get('username').touched && signInLogin.get('username').invalid"
                    [class.in-valid]="signInLogin.get('username').touched && signInLogin.get('username').valid">   

                    <span *ngIf="signInLogin.get('username').touched && signInLogin.get('username').valid">
                        <svg alt="angularIco" class="angularIco">
                            <use xlink:href="../../../assets/svg/sprite.svg#check"></use>
                        </svg>
                    </span>
                </div>

                <app-error-messages [control]="signInLogin.get('username')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
            

                <label for="password" class="form-label"
                [class.invalid]="signInLogin.get('password').touched && signInLogin.get('password').invalid"
                [class.valid]="signInLogin.get('password').touched && signInLogin.get('password').valid">Password:</label>

                <div class="flex">
                    <input id="password" type="password" formControlName="password" class="form-control"
                    [class.in-invalid]="signInLogin.get('password').touched && signInLogin.get('password').invalid"
                    [class.in-valid]="signInLogin.get('password').touched && signInLogin.get('password').valid"> 

                    <span *ngIf="signInLogin.get('password').touched && signInLogin.get('password').valid">
                        <svg alt="angularIco" class="angularIco">
                            <use xlink:href="../../../assets/svg/sprite.svg#check"></use>
                        </svg>
                    </span>  
                </div>
                <app-error-messages [control]="signInLogin.get('password')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
                
                <div class="flex">
                    <blog-button (click)="signIn(signInLogin.value)" [disabled]="!signInLogin.valid" text="Sign In" class="button"></blog-button>
                    <blog-button (click)="changingSign()" text="Sign up" class="sign"></blog-button>
                </div>
                <a class="passwordForgotten">¿Olvidaste la contraseña?</a>
            
            </form> 

        </div>

        <div *ngIf="!sign">
            <form [formGroup]="signUpLogin" autocomplete="off" class="signUpLogin"> 


                <label for="newUserName" class="form-label"
                [class.invalid]="signUpLogin.get('user').touched && signUpLogin.get('user').invalid"
                [class.valid]="signUpLogin.get('user').touched && signUpLogin.get('user').valid">Username:</label>

                <div class="flex">
                    <input id="newUserName" type="text" formControlName="user" class="form-control"
                    [class.in-invalid]="signUpLogin.get('user').touched && signUpLogin.get('user').invalid"
                    [class.in-valid]="signUpLogin.get('user').touched && signUpLogin.get('user').valid"> 

                
                    <span *ngIf="signUpLogin.get('user').touched && signUpLogin.get('user').valid">
                        <svg alt="angularIco" class="angularIco">
                            <use xlink:href="../../../assets/svg/sprite.svg#check"></use>
                        </svg>
                    </span>
                </div>
                <app-error-messages [control]="signUpLogin.get('user')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
            

                <label for="newPassword" class="form-label"
                [class.invalid]="signUpLogin.get('password').touched && signUpLogin.get('password').invalid"
                [class.valid]="signUpLogin.get('password').touched && signUpLogin.get('password').valid">Password:</label>

                <div class="flex">
                    <input id="newPassword" [type]="passwordType" formControlName="password" class="form-control"
                    [class.in-invalid]="signUpLogin.get('password').touched && signUpLogin.get('password').invalid"
                    [class.in-valid]="signUpLogin.get('password').touched && signUpLogin.get('password').valid"> 

                    <span *ngIf="signUpLogin.get('password').touched && signUpLogin.get('password').valid">
                        <svg alt="angularIco" class="angularIco">
                            <use xlink:href="../../../assets/svg/sprite.svg#check"></use>
                        </svg>
                    </span>
                </div>
                <app-error-messages [control]="signUpLogin.get('password')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
            

        
                <label for="repeatPassword" class="form-label"
                [class.invalid]="signUpLogin.get('repeatPassword').touched && signUpLogin.get('repeatPassword').invalid"
                [class.valid]="signUpLogin.get('repeatPassword').touched && signUpLogin.get('repeatPassword').valid">Repeat your password:</label>

                <div class="flex">
                    <input id="repeatPassword" [type]="passwordType" formControlName="repeatPassword" class="form-control"
                    [class.in-invalid]="signUpLogin.get('repeatPassword').touched && signUpLogin.get('repeatPassword').invalid"
                    [class.in-valid]="signUpLogin.get('repeatPassword').touched && signUpLogin.get('repeatPassword').valid"> 

                    <div class="eye">
                        <svg alt="show Password" class="angularIco" (click)="seePassword()">
                            <use [attr.xlink:href]="show"></use>
                        </svg>
                    </div>
                
                </div>
                <app-error-messages [control]="signUpLogin.get('repeatPassword')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
            
                <label for="role" class="form-label">Role:</label>

                <div class="flex">
                    <select id="role" formControlName="role"
                    [class.in-invalid]="signUpLogin.get('role').touched && signUpLogin.get('role').invalid"
                    [class.in-valid]="signUpLogin.get('role').touched && signUpLogin.get('role').valid"> 

                        <option selected value="publisher">Publisher</option>
                        <option value="admin">Admin</option>
                    </select>
        
                    <span *ngIf="signUpLogin.get('role').touched && signUpLogin.get('role').valid">
                        <svg alt="angularIco" class="angularIco">
                            <use xlink:href="../../../assets/svg/sprite.svg#check"></use>
                        </svg>
                    </span>
                </div>
                <app-error-messages [control]="signUpLogin.get('role')" [customErrors]="customErrorsMessages" class="invalid"></app-error-messages>
            
                <div class="flex">
                    <blog-button (click)="signUp()" [disabled]="!signUpLogin.valid" text="Sign Up" class="button"></blog-button>
                    <blog-button (click)="changingSign()" text="Sign In" class="sign"></blog-button>
                </div>
            </form>
        </div>
    
</div>

    




