
a {
    text-decoration: none;
    color: inherit;
}

.angularIco{
    width: 15px;
    height: 15px;
}

.border {
    border: 2px solid red;
    padding: 10px;
}

.ng-valid {
    border: 2px solid green;
}

.ng-invalid {
    border: 2px solid red;
}
.ng-pending {
    border: 2px solid grey;
}