
a {
    text-decoration: none;
    color: inherit;
}

input{
    outline: none;
}


.angularIco{
    width: 15px;
    height: 15px;
}

.border {
    border: 2px solid red;
    padding: 10px;
}

.in-valid {
    border: 2px solid green;
}

.in-invalid {
    border: 2px solid red;
}
.ng-pending {
    border: 2px solid grey;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

